.form-body
  .chat-group-form
    =form_for(@group, id: 'edit_chat_group', class: 'edit_chat_group') do |f|
      - if @group.errors.any?
        .chat-group-form__errors
          %h2
            ="#{@group.errors.count}件のエラーが発生しました"
            %ul
              - @group.errors.full_messages.each do |error|
                %li
                  =error
      .chat-group-form__field.clearfix
        .chat-group-form__field--left
          %label.chat-group-form__label{:for => "chat_group_name"} グループ名
        .chat-group-form__field--right
          = f.text_field :name, id: 'chat_group_name', class: 'chat-group-form__input'

      .chat-group-form__field.clearfix
        .chat-group-form__field--left
          %label.chat-group-form__label{for: "chat_group"}追加
        #add-current-user.chat-group-form__field--right
          .chat-group-form__search
            = f.text_field :id, value: '', id: 'chat_group_user', class: 'chat-group-form__input', placeholder: '追加したいユーザー名を入力してください'

          .current-users.clearfix
            .current-users-name
              =current_user.name
              = f.hidden_field :user_ids, value: current_user.id, name: "group[user_ids][]", id: "group_user_ids"
          -if members
            -members.each do |member|
              .current-users.clearfix
                .current-users-name
                  =member.name
                .remove-user-btn
                  %i.fa.fa-times
                = f.hidden_field :user_ids, value: member.id, name: "group[user_ids][]", id: "group_user_ids"

      .chat-group-form__field.clearfix
        .chat-group-form__field--left
        .chat-group-form__field--right
          #group-members

      .chat-group-form__field.clearfix
        .chat-group-form__field--left
        .chat-group-form__field--right
          #user-search-result
      = f.submit 'submit', class: 'chat-group-form__action-btn'

